body {
  margin-left: 90px;
  margin-right: 90px;
}
header {
  background-color: none;
  padding: 35px;
}
header ul {
  display: flex;
  align-content: center;
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
  color: #2A3D45;
  font-size: 20px;
  font-family: 'Montserrat';
}
header p {
  display: inline-block;
}

/*Hero*/
.hero {
  margin-left: 75px;
  margin-right: 90px;
  font-size:50px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 600px;
  font-family: 'Montserrat';
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding-bottom: none;
}

.selectionWork {
  text-align: center;
  margin: 70px auto;
  margin-top: -120px;
  margin-bottom: 70px;
  font-size: 50px;
  font-family: 'Montserrat';
  color: #C17C74;
}

.Projects {
  margin: 30px 30%;
  display: grid;
  justify-content: center;
  grid-template-rows: 35%;
  grid-template-areas: "Reelii NavyForce; APWF";
}

.Reelii {
  width: 500px;
  text-align: center;  
}

.Navy {
  width: 500px;
  text-align: center;
}

.APWF {
  width: 500px;
  text-align: center;
}
  
.ProjectDescription1, .ProjectDescription2, .ProjectDescription3 {
  background-color: none;
  font-family: 'Montserrat';
  margin-bottom: 50px;  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
footer { 
  height: 60px;
  display: flex;
  margin-right: none;
  margin-left: none;
  align-items: center;
  background-color: #C17C74;
  justify-content: space-around;
}

footer p {
  font-size: 20px;
  font-family: 'Montserrat';
  color: white;
} 
   