body {
  margin-left: 90px;
  margin-right: 90px;
}
header {
  background-color: none;
  padding: 35px;
}

.logo {
  margin-bottom: 50px;
}
header ul {
  display: flex;
  align-content: center;
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
  color: #2A3D45;
  font-size: 20px;
  font-family: 'Montserrat';
}
header p {
  display: inline-block;
}

/*Hero*/
/*.hero {
  margin-left: 75px;
  margin-right: 90px;
  font-size:50px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 600px;
  font-family: 'Montserrat';
}*/

.Hero h1 {
  font-family: 'AgencyFB Black', sans-serif;
  font-size: 100px;
  text-align: center;
  padding: 0px;
}

.Hero p {
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  padding: 0px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}

.arrowLeft {
  float: Left;
}

.arrowRight {
  float: Right;
}

.arrowDown {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Reelii {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.UXProcess {
  font-family: 'Montserrat';
  margin-left: 200px;
  margin-right: 200px;
}

.Process {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.ProcessDescription {
  color: #d7d7d7;
}


footer { 
  height: 60px;
  display: flex;
  margin-right: none;
  margin-left: none;
  align-items: center;
  background-color: #C17C74;
  justify-content: space-around;
}

footer p {
  font-size: 20px;
  font-family: 'Montserrat';
  color: white;
} 
   