body {
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 100px;
}

header {
  background-color: none;
  padding: 35px;
}
header ul {
  display: flex;
  align-content: center;
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
  font-size: 20px;
  font-family: 'Montserrat';
}
header li a {
  color: #2a3d45;
  text-decoration: none;
}

header li a:active {
  color: #c17c74;
  text-decoration:solid;
}

header li a:hover {
  color: #c17c74;
}


header p {
  display: inline-block;
}

/*Hero*/
/*.hero {
  margin-left: 75px;
  margin-right: 90px;
  font-size:50px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 600px;
  font-family: 'Montserrat';
}*/

.Hero h1 {
  font-family: 'AgencyFB Black', sans-serif;
  font-size: 100px;
  text-align: center;
  padding: 0px;
}
.Hero p {
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  padding:0px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}

.arrowLeft {
  float: Left;
}

.arrowRight {
  float: Right;
}

.arrowDown {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Reelii {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.Process {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.UXProcess {
  font-family: 'Montserrat';
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
}

.UXProcess h3::first-letter {
  font-family:'Merriweather';
  font-size: 400%;
  color: #E3E3E3;
}
.UXProcess h2 {
  color: #666666;
  font-family: 'Merriweather';
  font-size: 200%;
}

.UserResearch h3, .Ideation h3, .Test h3, .FinalPrototype h3, .FinalThoughts h3 {
  color: #666666;
  font-family: 'Merriweather';
  font-size: 150%;
  line-height: normal;
}

.UserResearch p, .Ideation p, .Test p, .FinalThoughts p {
  color: #666666;
  font-family: 'Montserrat';
  line-height: normal;
  font-size: 16px;
}

.a, .b, .c, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p {
  text-indent: 50px;
  line-height: normal;
}

.d, .e, .f {
  text-indent: 10%;
  line-height: normal;
}




/*.Process {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.ProcessDescription {
  color: #d7d7d7;
}


/*footer { 
  height: 60px;
  display: flex;
  margin-right: none;
  margin-left: none;
  align-items: center;
  background-color: #C17C74;
  justify-content: space-around;
}

footer p {
  font-size: 20px;
  font-family: 'Montserrat';
  color: white;
} */
   